<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Join us to stop throwing cigarettes</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>

        <h1 class="birdTalk">{{main_text}}</h1>
        <p class="sub_text">{{sub_text1}}</p>
        <p class="sub_text">{{sub_text2}}</p>
        <img src="{{imgMain}}" alt="seagul" id="main_img">
        {{{body}}}


        <footer>&copy; No cigarette butts on the street</footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
