<form method="POST">
<div id="editProfile_wrap">

    <label for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="{{first_name}}" value="{{first_name}}" />

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" placeholder="{{last_name}}" value="{{last_name}}"/>

    <label for="email">Email address</label>
    <input type="text" name="email" placeholder="{{email}}" value="{{email}}"/>

    <label for="password">Password</label>
    <input type="password" name="password" placeholder="" value=""/>

    <label for="age">Age</label>
    <input type="text" name="age" placeholder="{{age}}" value="{{age}}"/>

    <label for="city">City</label>
    <input type="text" name="city" placeholder="{{city}}" value="{{city}}"/>

    <label for="url">Your website</label>
    <input type="text" name="url" placeholder="{{url}}" value="{{url}}"/>

    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</div>
<button name="submit_btn">UPDATE</button>
</form>
