{{> nav }}
<div class="wrap_alignLeft">
<p class="birdTalk">"Our friends who promised to throw cigarette butts in trash bins only!"</p>

<div class="wrap_namelists">
    {{#signers}}
    <p>
        {{#if url}}
        <a href="{{url}}">{{first_name}} {{last_name}}</a>
        {{else}}
    		{{first_name}} {{last_name}}
    	{{/if}}
         {{age}} <a href="petition/signers/{{city}}">{{city}}</a>
     </p>
    {{/signers}}

</div>
</div>
<div class="wrap_right">
    <img src="/35n8yb.jpg" alt="">
</div>

{{>footer}}
